root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{kt,kts}]
max_line_length = 160
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
ktlint_code_style = intellij_idea

# Disabled rules
ktlint_standard_filename = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_discouraged-comment-location = disabled
ktlint_standard_multiline-if-else = disabled
ktlint_standard_if-else-wrapping = disabled
ktlint_standard_if-else-bracing = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_multiline-expression-wrapping = disabled

# Enabled rules (explicit)
ktlint_standard_chain-wrapping = enabled
ktlint_standard_no-consecutive-blank-lines = enabled

[build.gradle.kts]
ktlint = disabled

[build/generated/**]
ktlint = disabled

[build/**]
ktlint = disabled
