spring:
  flyway:
    enabled: false
  jpa:
    hibernate:
      ddl-auto: create-drop
  datasource:
    url: jdbc:postgresql://localhost:5433/jobhunter_test
    username: jobhunter
    password: jobhunter
